body {
    user-select: none;
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 15px;
}

::-webkit-scrollbar-thumb { 
    border-radius: 15px;
}

/* Loading screen stuff */
#loading-screen {position: absolute; z-index: 99; text-align: center; width: 100vw; height: 100vh; top: 0; transition: all 1000ms;}
#loading-text {z-index: 5; position: fixed; top: 200px; right: 35%; left: 35%; transition: all 500ms; font-family: 'Oswald', sans-serif; text-align: center; font-size: 50px; font-weight: 500;}
#lpart {width: 50vw; height: 100vh; position: fixed; z-index: 4;top: 0;left: 0; transition: all 1000ms;}
#rpart {width: 50vw; height: 100vh; position: fixed; z-index: 4;top: 0;right: 0; transition: all 1000ms;}
/* end */

*:focus { outline: 0; }

.center {
    text-align: center;
}

.header {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.half-page-block {
    height: auto;
    display: table-cell;
    padding: 0 10px;
}

#elementblocker {
    position: fixed;
    transition: all 400ms ease 0s;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: rgb(0, 0, 0);
    opacity: 0.2;
    z-index: 20;
}

.nextdaybtn {
    position: absolute;
    bottom: 20px;
    right: 15px;
    border: 0;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    border-radius: 0;
    transition: all 500ms;
}

.popup {
    position: relative;
    left: -50%;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

#popupbuttons button {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: max-content;
    transition: all 400ms;
}

#amount-select button {
    border: 0;
    display: inline-block;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
    transition: all 400ms;
}

#amount-select div {
    border: 0;
    display: inline-block;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
}

.stockslistouter {
    height: 70vh;
    overflow-y: overlay;
}

.stockslist {
    height: auto;
    display: table;
    margin-top: 20px;
}

.stock {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    height: auto;
    width: fit-content;
    display: table-row;
    white-space: nowrap;
}

.stock > * {
    display: table-cell;
    padding: 5px;
}

#shortname {
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
}

#name {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

#price {
    text-align: right;
    padding-right: 10px;
}

#amount {
    text-align: left;
    padding-left: 10px;
}

.profit {
    text-align: right;
    padding-right: 10px;
    white-space: nowrap;
}

#profit-positive {
    color: #26ff00;
}

#profit-negative {
    color: #ff1d00;
}

.secret {
    position: absolute;
    opacity: 0;
    font-family: 'Oswald', sans-serif;
    bottom: 0;
    left: 0;
    padding: 10px;
    transition: all 500ms;
}

.secret:hover {
    opacity: 1;
}

#settings {
    position: absolute;
    top: 10px;
    left: 10px;
}

#themebox {
    font-family: 'Oswald', sans-serif;
    transition: all 400ms;
}

#themeselect {
    font-family: 'Oswald', sans-serif;
    transition: all 400ms;
}

#resetbtn {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 400ms;
}

#resetbtn:hover {
    color: #ff3e3e;
}

.swal-modal {
    font-family: sans-serif;
}

.golden {
    text-shadow: 0px 0px 5px #ffbb00;
    color: #ffd000 !important;
}